:root {
  // ============= colors ==========

  --verydarkmagneta: hsl(300, 43%, 22%);
  --softpink: hsl(333, 80%, 67%);
  --darkgrayishmagneta: hsl(303, 10%, 53%);
  --lightgrayishmagneta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);

  // ============= fonts ==========

  --fs-300: 0.9375rem;

  --sm-width: 20.4375rem;
}

// =========== mixin =============
